/* Shadow Into Light Font */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* Main Font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


/* Default  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

:root {
    --brand-clr: #f74c70;
    --shadow-font: 'Shadows Into Light', cursive;
}


/* Common  */
html:focus-within {
    scroll-behavior: smooth;
}

.brand-clr {
    color: var(--brand-clr);
}

.zIndex {
    z-index: 1211;
}


/* Top Nav  */
#top-nav {
    background-color: black;
}

.welcome-msg {
    margin: .5rem 0;
}

#top-nav h6 {
    line-height: 2rem;
}

#top-nav .dropdown-menu {
    padding: 0.3rem 0;
}



#top-nav .dropdown-divider {
    margin: 0.3rem 0;
}



/* Main Navbar */
.navigation {
    background-color: white;
}

.navigation.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}

.navigation.navbar {
    padding: 0;
}

.navigation {
    position: sticky;
    top: 0;
}

.navigation.navbar-light .navbar-nav .nav-item.active .nav-link,
.navigation.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: var(--brand-clr);
    transition: all .3s;
}

.navigation .nav-item .btn {
    padding: 0;
    line-height: 1rem;
}


.btn .badge {
    top: -10px;
}

.rounded-pill {
    background-color: var(--brand-clr);
}

/* Nested Menu  */
.nested-menu {
    width: 50vw;
}

.nested-imgOne {
    margin-bottom: 10px;
}

.nested-img img {
    height: 100px;
    width: 100%;
    padding-right: 10px;
    background-size: cover;
}

.nested-menu-kid {
    width: 45vw;
}

.nested-menu .dropdown-item:hover {
    color: var(--brand-clr);
    transform: translateX(10px);
    transition: all .4s;
}

.dropdown-item {
    font-weight: 500;
}


/* Carousel  */

#mainCarousel #carouselExampleFade {
    background-color: #ddd;
}

#mainCarousel #carouselExampleFade .carousel-item img {
    height: 80vh;
}

#mainCarousel #carouselExampleFade .carousel-caption {
    left: 35%;
    bottom: 25%;
    color: black;
}

#mainCarousel #carouselExampleFade .carousel-item h2 {
    font-weight: bolder;
    font-size: 50px;
}

#mainCarousel #carouselExampleFade .carousel-item h3 {
    font-family: var(--shadow-font);
    color: var(--brand-clr);
    font-weight: bold;
}

#mainCarousel #carouselExampleFade .carousel-item h4 {
    font-size: 35px;
}

#mainCarousel #carouselExampleFade .carousel-item span {
    font-family: var(--shadow-font);
    color: var(--brand-clr);
}

#mainCarousel #carouselExampleFade .carousel-item button {
    background-color: var(--brand-clr);
    color: white;
    outline: 0;
}

#mainCarousel #carouselExampleFade .carousel-control-next-icon,
#mainCarousel #carouselExampleFade .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.664);
    padding: 18px;
    border-radius: 50%;
}




/* Support Section  */
.support-img {
    font-size: 30px;
    color: #f74c70;
    border: 2px solid #ddd;
    border-radius: 50%;
    padding: 5px 15px;
}

.support-text h4, .support-text p {
    margin-bottom: 0;
}

.support-text h4 {
    text-transform: uppercase;
    font-weight: 600;
}



/* New Arrival Section  */
#newArrival .newArrival-title h2{
    font-size: 33px;
    font-weight: 700;
    position: relative;
    margin-left: 50px;
    margin-bottom: 0;
}
#newArrival .newArrival-title h2::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -50px;
	bottom: auto;
	width: 40px;
	height: 2px;
	background: #000;
	margin: auto;
}

#newArrival .carousel {
    margin: 0 auto;
    /* padding: 0 70px; */
}

#newArrival .carousel .item {
    color: #747d89;
    min-height: 325px;
    text-align: center;
    overflow: hidden;
}

#newArrival .carousel .thumb-wrapper {
    padding: 15px 15px;
    background: #fff;
    border-radius: 6px;
    /* text-align: center; */
    position: relative;
    
}

#newArrival .carousel .thumb-wrapper:hover {
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#newArrival .carousel .item .img-box {
    height: 320px;
    margin-bottom: 20px;
    /* width: 100%; */
    position: relative;
}

#newArrival .carousel .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#newArrival .carousel .item h4 {
    font-size: 18px;
    color: #000;
}

#newArrival .carousel .item h4,
#newArrival .carousel .item p,
#newArrival .carousel .item ul {
    margin-bottom: 5px;
}

#newArrival .carousel .thumb-content{
    text-align: left;
}

#newArrival .carousel .thumb-content .btn {
    color: #7ac400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}

#newArrival .carousel .thumb-content .btn:hover,
#newArrival .carousel .thumb-content .btn:focus {
    color: #fff;
    background: #7ac400;
    box-shadow: none;
}

#newArrival .carousel .thumb-content .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

#newArrival .carousel .item-price {
    font-size: 15px;
    padding: 2px 0;
}

#newArrival .carousel .item-price del {
    opacity: 0.7;
    margin-right: 5px;
}

#newArrival .carousel .item-price span {
    font-weight: bold;
    color: #f74c70;
}

#newArrival .carousel-control-prev,
#newArrival .carousel-control-next {
    height: 44px;
    width: 40px;
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
    
}

#newArrival .carousel-control-prev {
    left: 52%;
}

#newArrival .carousel-control-next  {
    left: 75%;
}

#newArrival .carousel-control-prev:hover,
#newArrival .carousel-control-next:hover {
    /* background: #78bf00; */
    opacity: 1;
}

#newArrival .carousel-control-prev i,
#newArrival .carousel-control-next i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #000;
    text-shadow: none;
    font-weight: bold;
}

#newArrival .carousel-control-prev i {
    margin-left: -2px;
}

#newArrival .carousel-control-next i {
    margin-right: -4px;
}

#newArrival .carousel-indicators {
    bottom: -50px;
}

#newArrival .carousel-indicators li,
#newArrival .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border: none;
}

#newArrival .carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}

#newArrival .carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}

.list-inline-item:not(:last-child){
    margin-right: 1px;
}

#newArrival .carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
}

#newArrival .carousel .wish-icon .fa-heart {
    color: #ff6161;
}

.star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
}











/* Scroll To Top  */
.scrollToTop {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid var(--brand-clr);
    bottom: 5%;
    right: 2%;
    animation: blink 1.2s ease-in-out infinite .3s;
    box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 20%);
    cursor: pointer;
}

@keyframes blink {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}











/* Responsive  */

@media screen and (max-width:576px) {

    /* Top Nav  */
    #top-nav p {
        font-size: .8rem;
    }

    /* Nested Menu  */
    .nested-menu {
        width: 70vw;
    }

    /* Carousel  */

    /* 
    #carouselExampleFade .carousel-caption {
        left: 5%;
        bottom: 5%;
    } */

    /* Scroll To Top  */
    .scrollToTop {
        right: 3.5%;
        /* right: 10.5%; */
    }
}

/* Main Navbar */
@media screen and (max-width:769px) {
    .navigation {
        padding: 12px 0;
    }

    /* Language Fropdown  */
    .language {
        display: none;
    }


    /* Carousel  */
    #mainCarousel #carouselExampleFade .carousel-caption {
        left: 0%;
        bottom: 5%;
        background-color: rgba(255, 255, 255, 0.623);
    }

    #mainCarousel #carouselExampleFade .carousel-caption h2,
    #mainCarousel #carouselExampleFade .carousel-caption h4,
    #mainCarousel #carouselExampleFade .carousel-caption h3,
    #mainCarousel #carouselExampleFade .carousel-caption h5 {
        padding-left: 10%;
    }

    #mainCarousel #carouselExampleFade .carousel-caption button {
        margin-left: 10%;
    }

    /* Scroll To Top  */
    .scrollToTop {
        right: 8%;
    }
}

@media screen and (min-width:768px) and (max-width:820px) {

    /* Carousel  */
    #mainCarousel #carouselExampleFade .carousel-caption {
        left: 50%;
        bottom: 15%;
    }
}

@media screen and (min-width:821px) and (max-width:984px) {
    #mainCarousel #carouselExampleFade .carousel-caption {
        left: 50%;
        bottom: 15%;
    }
}