/* Shadow Into Light Font */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* Main Font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


/* Default  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

:root {
    --brand-clr: #f74c70;
    --shadow-font: 'Shadows Into Light', cursive;
}


/* Common  */
html:focus-within {
    scroll-behavior: smooth;
}

.brand-clr {
    color: var(--brand-clr);
}

.zIndex {
    z-index: 1211;
}


/* Top Nav  */
#top-nav {
    background-color: black;
}

.welcome-msg {
    margin: .5rem 0;
}

#top-nav h6 {
    line-height: 2rem;
}

#top-nav .dropdown-menu {
    padding: 0.3rem 0;
}



#top-nav .dropdown-divider {
    margin: 0.3rem 0;
}



/* Main Navbar */
.navigation {
    background-color: white;
}

.navigation.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}

.navigation.navbar {
    padding: 0;
}

.navigation {
    position: sticky;
    top: 0;
}

.navigation.navbar-light .navbar-nav .nav-item.active .nav-link,
.navigation.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: var(--brand-clr);
    transition: all .3s;
}

.navigation .nav-item .btn {
    padding: 0;
    line-height: 1rem;
}


.btn .badge {
    top: -10px;
}

.rounded-pill {
    background-color: var(--brand-clr);
}

/* Nested Menu  */
.nested-menu {
    width: 50vw;
}

.nested-imgOne {
    margin-bottom: 10px;
}

.nested-img img {
    height: 100px;
    width: 100%;
    padding-right: 10px;
    background-size: cover;
}

.nested-menu-kid {
    width: 45vw;
}

.nested-menu .dropdown-item:hover {
    color: var(--brand-clr);
    transform: translateX(10px);
    transition: all .4s;
}

.dropdown-item {
    font-weight: 500;
}


/* Carousel  */

#mainCarousel #carouselExampleFade {
    background-color: #ddd;
}

#mainCarousel #carouselExampleFade .carousel-item img {
    height: 70vh;
}

#mainCarousel #carouselExampleFade .carousel-caption {
    left: 35%;
    bottom: 25%;
    color: black;
}

#mainCarousel #carouselExampleFade .carousel-item h2 {
    font-weight: bolder;
    font-size: 50px;
}

#mainCarousel #carouselExampleFade .carousel-item h3 {
    font-family: var(--shadow-font);
    color: var(--brand-clr);
    font-weight: bold;
}

#mainCarousel #carouselExampleFade .carousel-item h4 {
    font-size: 35px;
}

#mainCarousel #carouselExampleFade .carousel-item span {
    font-family: var(--shadow-font);
    color: var(--brand-clr);
}

#mainCarousel #carouselExampleFade .carousel-item button {
    background-color: var(--brand-clr);
    color: white;
    outline: 0;
}

#mainCarousel #carouselExampleFade .carousel-item button:hover {
    /* background-color: #f74c71b9; */
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    ;
}


#mainCarousel #carouselExampleFade .carousel-control-next-icon,
#mainCarousel #carouselExampleFade .carousel-control-prev-icon {
    /* background-color: rgba(0, 0, 0, 0.664); */
    color: #000;
    padding: 18px;
    border-radius: 50%;
}

#mainCarousel .carousel-control-next-icon {
    background-image: url('../img/icons/chevron-right-solid.svg');
}

#mainCarousel .carousel-control-prev-icon {
    background-image: url('../img/icons/chevron-left-solid.svg');
}


/* Support Section  */
.support-img {
    font-size: 30px;
    color: #f74c70;
    border: 2px solid #ddd;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    transition: .3s;
}
.support-img:hover{
    color: #fff;
    background: #f74c70;
}


.support-text h4, .support-text p {
    margin-bottom: 0;
}

.support-text h4 {
    text-transform: uppercase;
    font-weight: 600;
}




/* New Arrival Section  */
#newArrival .newArrival-title h2 {
    font-size: 33px;
    font-weight: 700;
    position: relative;
    margin-left: 50px;
    margin-bottom: 0;
}

#newArrival .newArrival-title h2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -50px;
    bottom: auto;
    width: 40px;
    height: 2px;
    background: #000;
    margin: auto;
}



#newArrival .slider-item {
    margin: 10px;
    border-radius: 6px;
}


#newArrival .slider-content {
    padding: 0 10px;
}

#newArrival .slider-content h4 {
    font-size: 18px;
    color: #000;
}

#newArrival .img-box {
    /* height: 320px; */
    margin-bottom: 20px;
    /* width: 100%; */
    position: relative;
}

#newArrival .img-box .new {
    position: absolute;
    background-color: #7ac400;
    color: #fff;
    left: 0;
    bottom: 0;
    padding: 1px 8px;
    font-size: 12px;
}

#newArrival .img-box .discount {
    position: absolute;
    background-color: #000;
    color: #fff;
    left: 45px;
    bottom: 0;
    padding: 1px 8px;
    font-size: 12px;
}


#newArrival .img-box img {
    height: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}

#newArrival .img-box img:hover {
    transform: scale(1.1);
    overflow: hidden;
}

#newArrival img {
    /* max-width: 100%; */
    width: 100%;
    max-height: 100%;
    display: inline-block;
    /* position: absolute; */
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#newArrival .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99999999999;
    cursor: pointer;
    font-size: 16px;
    /* color: #abb0b8; */
    color: #f3130b;
}

#newArrival .wish-icon .fa-heart {
    color: #ff6161;
    z-index: 99999999999;
}



#newArrival .item h4,
#newArrival .item p,
#newArrival .item ul {
    margin-bottom: 5px;
}


#newArrival .item-price {
    font-size: 15px;
    padding: 2px 0;
}

#newArrival .item-price del {
    opacity: 0.7;
    margin-right: 5px;
}

#newArrival .item-price span {
    font-weight: bold;
    color: #f74c70;
}


.new-arrival .priv-arrow:hover,
.new-arrival .next-arrow :hover {
    color: #000;
    opacity: 1;
}

.list-inline-item:not(:last-child) {
    margin-right: 1px;
}

.list-inline-item {
    cursor: pointer;
}

.star-rating {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    float: left;
}

.star-rating>input {
    display: none;
}

.star-rating>label {
    position: relative;
    width: 34px;
    height: 34px;
    font-size: 20px;
    color: #ffc000;
    cursor: pointer
}

.star-rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0.5;
}

.star-rating>label:hover:before,
.star-rating>label:hover~label:before {
    opacity: 1 !important
}

.star-rating>input:checked~label:before {
    opacity: 1
}

.star-rating:hover>input:checked~label:before {
    opacity: 0.5;
}

.star-rating .fa-star:before {
    content: '';
}

/* .star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
} */


.new-arrival {
    position: relative;
}

.new-arrival .priv-arrow {
    position: absolute;
    top: -86px;
    right: 40px;
    color: rgb(182, 182, 182);
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.8;
}

.new-arrival .next-arrow {
    position: absolute;
    top: -86px;
    right: 13px;
    color: rgb(182, 182, 182);
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
    font-weight: 200 !important;
    opacity: 0.8;
}

/* blog slider content */
.new-arrival-section .new-arrival .slider-content {
    padding: 25px 0;
}

.new-arrival-section .new-arrival .slider-content h3 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;

}

.new-arrival-section .new-arrival .slider-content ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: rgb(146, 145, 145);
    font-weight: 400;


}

.new-arrival-section .new-arrival .slider-content ul li span {
    display: inline-block;
    margin-right: 10px;
}

.new-arrival-section .new-arrival .slider-content p {
    font-size: 14px;
    font-weight: 500;
    color: #2b2626;
    margin-bottom: 0px;
}

.new-arrival-section .new-arrival .slider-content a {
    display: inline-block;
    font-size: 14px;
    color: #f74c70;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}

.new-arrival-section .new-arrival .slider-content a:hover {
    letter-spacing: 2px;
}





/* Discount Section */

#discount {
    position: relative;
}
#discount .background {
    position: absolute;
    top: 70px;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 80%;
    background-color: #ddd;
    z-index: -9999;
}

#discount .save50 {
    margin-bottom: 0;
    font-size: 1.4rem;
}

#discount h1 {
    font-weight: 900;
}

#discount .btn-outline-dark {
    border-width: 2px;
    font-weight: 500;
}

#discount .btn-outline-dark:hover {
    background-color: var(--brand-clr);
    border-color: var(--brand-clr);
}







/* Scroll To Top  */
.scrollToTop {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid var(--brand-clr);
    bottom: 5%;
    right: 2%;
    animation: blink 1.2s ease-in-out infinite .3s;
    box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 20%);
    cursor: pointer;
}

@keyframes blink {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}











/* Responsive  */

@media screen and (max-width:576px) {

    /* Top Nav  */
    #top-nav p {
        font-size: .8rem;
    }

    /* Nested Menu  */
    .nested-menu {
        width: 70vw;
    }

    /* Carousel  */

    /* 
    #carouselExampleFade .carousel-caption {
        left: 5%;
        bottom: 5%;
    } */

    /* Scroll To Top  */
    .scrollToTop {
        right: 3.5%;
        /* right: 10.5%; */
    }
}

/* Main Navbar */
@media screen and (max-width:769px) {
    .navigation {
        padding: 12px 0;
    }

    /* Language Fropdown  */
    .language {
        display: none;
    }


    /* Carousel  */
    #mainCarousel #carouselExampleFade .carousel-caption {
        left: 0%;
        bottom: 5%;
        background-color: rgba(255, 255, 255, 0.623);
    }

    #mainCarousel #carouselExampleFade .carousel-caption h2,
    #mainCarousel #carouselExampleFade .carousel-caption h4,
    #mainCarousel #carouselExampleFade .carousel-caption h3,
    #mainCarousel #carouselExampleFade .carousel-caption h5 {
        padding-left: 10%;
    }

    #mainCarousel #carouselExampleFade .carousel-caption button {
        margin-left: 10%;
    }

    /* Scroll To Top  */
    .scrollToTop {
        right: 8%;
    }
}

@media screen and (min-width:768px) and (max-width:820px) {

    /* Carousel  */
    #mainCarousel #carouselExampleFade .carousel-caption {
        left: 50%;
        bottom: 15%;
    }
}

@media screen and (min-width:821px) and (max-width:984px) {
    #mainCarousel #carouselExampleFade .carousel-caption {
        left: 50%;
        bottom: 15%;
    }
}